@{
    ViewBag.Title = "Login";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-center">
  <a class="btn btn-default text-bg-light" href="/">Вернуться на Главную</a>
</div>